<header class="header-main fixed-top ">
    <nav class="navbar navbar-expand-lg main-nav">
        <div class="container">                    
            <a class="navbar-brand logo" routerLink="/"><img src="assets/img/logo.png"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <img src="assets/img/mobile_menu.svg">
            </button>

                <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav mx-auto navbar-nav-scroll">
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Property
                        </a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/hotels"><span class="#"><img src="assets/img/hotels_menu.svg"></span> Hotels</a></li>
                        <li><a class="dropdown-item" routerLink="/resorts"><span class="#"><img src="assets/img/resort_menu.svg"></span> Resorts</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/b2b" class="nav-link">B2B</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Membership
                        </a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/membership"><span class="#"><img src="assets/img/hotels_menu.svg"></span> Membership as Customer</a></li>
                        <li><a class="dropdown-item" routerLink="/partner-register"><span class="#"><img src="assets/img/resort_menu.svg"></span> Membership as Partner</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a routerLink="/experience" class="nav-link">Experiences</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/blogs"><span class="#"><img src="assets/img/hotels_menu.svg"></span> Blog</a></li>
                            <li><a class="dropdown-item" routerLink="/news"><span class="#"><img src="assets/img/resort_menu.svg"></span> News</a></li>
                            <li><a class="dropdown-item" href="https://luxiday.com/luxiday-brochure.pdf" target="_blank"><span class="#"><img src="assets/img/hotels_menu.svg"></span> Brochure</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a routerLink="/login" class="nav-link">Member Login</a>
                    </li>
                </ul>

                <a routerLink="/contact-us" class="btn">Contact us</a>
                </div>
            
          
          
        </div>
      </nav>

    <!-- <nav>
        <div class="container">
            <div class="row">
                <div class="navbar">
                    <i class="bx bx-menu"></i>
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo.png" /></a>
                    </div>
                    <div class="nav-links">
                        <div class="sidebar-logo">
                            <span class="logo-name">
                                <a href="#"><img src="assets/img/logo.png" /></a>
                            </span>
                            <i class="bx bx-x"></i>
                        </div>
                        <ul class="links">
                            <li>
                                <a href="#">Property</a>
                                <i class="bx bxs-chevron-down htmlcss-arrow arrow"></i>
                                <ul class="htmlCss-sub-menu sub-menu">
                                    <li>
                                        <a href="#"><img src="assets/img/Vector.png" /> Hotels</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/img/Resort.png" /> Resorts</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Membership</a>
                                <i class="bx bxs-chevron-down htmlcss-arrow arrow"></i>
                                <ul class="htmlCss-sub-menu sub-menu">
                                    <li>
                                        <a href="#"><img src="assets/img/Vector.png" />Membership as Customer</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/img/Resort.png" />Membership as Partner</a>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="#">Experiences</a></li>
                            <li>
                                <a href="#">Resources</a>
                                <i class="bx bxs-chevron-down htmlcss-arrow arrow"></i>
                                <ul class="htmlCss-sub-menu sub-menu">
                                    <li>
                                        <a href="#"><img src="assets/img/Vector.png" />Blogs</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/img/Resort.png" />News</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Member Login</a></li>
                        </ul>
                    </div>
                    <div class="search-box">
                        <div class="bx bx-search"></div>
                        <a href="#" class="Contactbtn2">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </nav> -->
</header>