<!--Footer section start here-->
<footer class="footer-section bg-dark py-60 pb-0 wow fadeInUp">
    <div class="container">
        

        <div class="row mt-4 mb-5">
            <div class="col-md-8 col-lg-9 mb-4 mb-md-0">
                <h4 class="mb-3 text-white">Contact Us</h4>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                        <div class="contact-details-foot">
                            New Memberships<br/>9950599119<br/>IST - 9:00AM to 9:00PM
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                        <div class="contact-details-foot">
                            Existing members<br/>India 9205610879<br/>24 x 7 Member Support Available
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <ul class="popular-links">
                    
                    <li><a routerLink="/careers"><svg width="6" height="12" viewBox="0 0 6 12" fill="none">
                        <g clip-path="url(#clip0_147_1280)">
                        <path d="M0.240479 0.990234L5.49403 6.2498L0.240479 11.5094" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_147_1280">
                        <rect width="5.73443" height="11" fill="white" transform="translate(0 0.75)"/>
                        </clipPath>
                        </defs>
                        </svg> Career</a></li>
                    <li><a routerLink="/company-overview"><svg width="6" height="12" viewBox="0 0 6 12" fill="none">
                        <g clip-path="url(#clip0_147_1280)">
                        <path d="M0.240479 0.990234L5.49403 6.2498L0.240479 11.5094" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_147_1280">
                        <rect width="5.73443" height="11" fill="white" transform="translate(0 0.75)"/>
                        </clipPath>
                        </defs>
                        </svg> Company Overview</a></li>
                    <li><a routerLink="/leadership"><svg width="6" height="12" viewBox="0 0 6 12" fill="none">
                        <g clip-path="url(#clip0_147_1280)">
                        <path d="M0.240479 0.990234L5.49403 6.2498L0.240479 11.5094" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_147_1280">
                        <rect width="5.73443" height="11" fill="white" transform="translate(0 0.75)"/>
                        </clipPath>
                        </defs>
                        </svg> Leadership</a></li>
                </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3">
            <h4 class="mb-3 text-white">Follow Us </h4>
            <ul class="follow-us-icons">
            <li><a href="https://www.facebook.com/profile.php?id=61563319119055" target="_blank"><img src="assets/img/facebook.svg"></a></li>
            <li><a href="https://www.instagram.com/luxi.day/" target="_blank"><img src="assets/img/instagram.svg"></a></li>
            <!-- <li><a href="#"><img src="assets/img/linkedin.svg"></a></li>
            <li><a href="#"><img src="assets/img/youtube.svg"></a></li> -->
            </ul>

            </div>
        </div>
    </div>

    <div class="copyright-bottom py-3 wow fadeInup">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                    <p class="mx-auto mx-md-auto">Copyright 2025 luxiday holidays.</p>
                </div>
                <div class="col-md-6 text-md-end mx-auto mx-md-auto">
                    <p><a routerLink="/privacy-policy">Privacy Policy</a> | <a routerLink="/terms-of-use">Terms of Use</a> | <a routerLink="/site-map">Site Map</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>