
<app-header></app-header>
    

    <div class="container margin-top">
        <div class="row abouts1">
            <div class="col-md-12">
                <div class="abouts">
                    <h3>{{pageData.title}}</h3>
                    <p [innerHTML]="pageData.description"></p>
                </div>
            </div>
            

           
        </div>
    </div>


    <app-popular-search></app-popular-search>

    <app-footer></app-footer>
    <app-become-a-member></app-become-a-member>
